@model IEnumerable<MortgageMoniteringSystem.Models.Ticket>

@{
    ViewData["Title"] = "";
}

<centre><h1 style="color:blue">Ticket Responses</h1></centre>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TicketId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Response)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TicketId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Response)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TicketId" class="btn btn-primary">Response</a> |
                <a asp-action="Details" asp-route-id="@item.TicketId" class="btn btn-success">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TicketId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
