@model IEnumerable<MortgageMoniteringSystem.Models.FeatureFlag>
@using Microsoft.Extensions.Configuration;
@using MortgageMoniteringSystem.Services;
@*@using MortgageMoniteringSystem.Services;

@inject IFeatureManagementService _featureManagement*@

@{
    ViewData["Title"] = "Index";
}

@section Styles{
    <link rel="stylesheet" href="~/css/Switch.css" />
}

<h1>Index</h1>



<table class="table">
    <thead>
        <tr>
            <th>
                Unique ID
            </th>
            <th>
                Feature Name
            </th>
            <th>
                Feature Description
            </th>
            <th>
                Feature Access
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UniqueId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FeatureName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FeatureDescription)
                </td>
                <td>
                    @{
                        string connectionStr = "Endpoint=https://myappcalcreact.azconfig.io;Id=NgAX;Secret=Z0BYRA46JSMZK/sdjWF28RgwrXNblkAD91FzUGhU2xw=";

                        string calcLabel = "Calculator";

                        FeatureManagementService obj = new FeatureManagementService(connectionStr, calcLabel);
                        bool checkValue = obj.GetFlagStatus(item.FeatureId);
                    }
                    <div class="toggle-switch">
                        <input type="checkbox" id="@item.UniqueId" name="myToggleSwitch" checked="@checkValue" onchange="toggleSwitch(@item.UniqueId,@item.FeatureId)" class="toggle-switch input" />
                        <label for="@item.UniqueId" class="toggle-switch label"></label>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        function toggleSwitch(toggleId, featureId) {
            var toggleSwitch = document.getElementById(toggleId);
            var accessValue = toggleSwitch.checked;
            console.log("toggle switch is getting triggered" + " " + toggleId + " " + featureId + " " + accessValue)
            var xhr = new XMLHttpRequest();//featureFlagId
            xhr.open("PATCH", "/Feature/ToggleAccess?uniqueId=" + toggleId + "&featureFlagId" + featureId + "&access=" + accessValue, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 204) {
                    alert("Access toggled successfully");
                }
            };
            xhr.send();
        }
    </script>
}
