@model MortgageMoniteringSystem.Models.RiskManager

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RiskManager</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RiskManagerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RiskManagerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RiskManagerMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RiskManagerMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RiskManagerPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RiskManagerPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RiskManagerAccess)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RiskManagerAccess)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RiskManagerId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
